<%= render 'navbar'%>
<%= render 'noticeAlert'%>

<div class = "container">
	<div class = "row">
		<div class = "col-md-6">
			<h1>Overtime Requests</h1> <!-- Name of page -->
		</div>
		<div class = "col-md-6">
			<!-- Add button -->
			<!-- Pressing the button will cause a modal/pop-up (add modal) to appear -->
			<%= link_to 'Create Overtime Requests', new_ot_request_path, class: "btn btn-primary pull-right", data: {toggle: "modal", target: "#add"}%>
		</div>
			<!-- Start of the table -->
			<!-- Data Table was used to format the table and add the sort & search features -->
			<table id = "table_id">
			<thead>
				<tr>
					<th>Date Filed</th>
					<th>Reason</th>
					<th>Status</th>
					<th>Overtime Date</th>
					<th>Time Start</th>
					<th>Time End</th>
					
					<th></th>
				</tr>
			</thead>
			<tbody>
				<!-- Loop for each overtime request in the database -->
				<%@requests.each do |request|%>
					<%@otRequests.each do |otRequest|%>
						<% if otRequest.request_id == request.id %>
							<tr>
								<td><%= otRequest.ot_date.strftime('%a, %d %b %Y') %></td><!-- date of overtime being requested -->
								<td><%= request.description %></td>	<!-- Shows the reason for overtime -->
								<td><%= request.status %></td>	<!-- status of the request -->
								<td><%= request.created_at.to_date %> </td>
								<td><%= otRequest.time_start.strftime('%H:%M:%S') %></td><!-- start time of request -->
								<td><%= otRequest.time_end.strftime('%H:%M:%S') %></td><!-- end time of request -->
								<td>
								<!-- Edit button -->
								<!-- Pressing the button will cause a modal/pop-up (edit modal) to appear -->
								<!-- Passes the overtime request parameters with the attribute "remote" to edit.html.erb which renders the form -->
								<div class = "col-md-1"></div>
								<%= link_to 'Edit', edit_ot_request_path(request), class: "btn btn-xs btn-warning col-md-4", data: {toggle: 'modal', target: '#edit'}%> 
								<!-- Delete button -->
								<!-- Pressing the button will cause the system to ask the user for confirmation -->
								<!-- Once the intent to delete the overtime request is confirmed, the request will be deleted from the database -->		
								<div class = "col-md-1"></div>
								<%= button_to 'Delete', ot_request_path(request), method: :delete, onclick: "return confirm('Are you sure you would like to delete your Overtime request on #{otRequest.ot_date.to_date} from #{otRequest.time_start.strftime('%H:%M:%S')} to #{otRequest.time_end.strftime('%H:%M:%S')}')", class: "btn btn-xs btn-danger col-md-4"%>
								</td>
							</tr>
						<%end%>
					<%end%>
				<%end%>
			</tbody>
		</table>
	</div>
</div>

<!-- Modal for the addition of new overtime request -->
<div class = "modal fade" id = "add" role = "dialog">
	<div class = "modal-dialog">
		<div class = "modal-content"></div>
	</div>
</div>

<!-- Modal for the editing of overtime request -->
<div class = "modal fade" id = "edit" role = "dialog">
	<div class = "modal-dialog">
		<div class = "modal-content"></div>
	</div>
</div>

<!-- JavaScript for the data table -->
<!-- The table is initially sorted using the 2nd column, level, in ascending order -->
<script>
  $(function(){
    $("#table_id").dataTable({
    	"aaSorting": [[ 2, "asc" ], [3, "asc"]]
    });
  })
</script>