<div class = "modal-header">
	<h4>Edit Offset Request</h4>
</div>
<%= form_for @request, url: offset_request_path, html: {class: "form-horizontal"} do |f|%>
	<div class = "modal-body">
		<div class = "form-group">
			<%= label_tag(:description, "Description: ", class: "col-md-2 control-label")%>
			<div class = "col-md-10">
				<%= f.text_field(:description, class: "form-control") %>
			</div>
		</div>
		<%= f.hidden_field :request_type, value: "Offset" %>
		<%= f.hidden_field :status, value: "Pending" %>
		<%= f.fields_for :offset_request do |offset| %>
			<div class = "form-group">
				<%= label_tag(:offset_date, "Offset Date: ", class: "col-md-2 control-label")%>
				<div class = "col-md-10">
					<%= offset.date_select(:offset_date, class: "form-control") %>
				</div>
			</div>
			<div class = "form-group">
				<%= label_tag(:offset_count, "Offset Count: ", class: "col-md-2 control-label")%>
				<div class = "col-md-10">
					<%= offset.text_field(:offset_count, class: "form-control") %>
				</div>
			</div>
		<% end %>
	</div>
	<div class = "modal-footer">
		<%= f.submit 'Save', class: "btn btn-primary"%>
	</div>
<%end%>