<%= render 'navbar'%>
<%= render 'noticeAlert'%>

<div class = "container">
	<div class = "row">
		<div class = "col-md-6">
			<h1>Job Levels</h1> <!-- Name of page -->
		</div>
		<div class = "col-md-6">
			<!-- Add button -->
			<!-- Pressing the button will cause a modal/pop-up (add modal) to appear -->
			<%= link_to 'Create New Job Level', new_job_level_path, class: "btn btn-primary pull-right", data: {toggle: 'modal', target: '#add'}%>
		</div>
	</div>
		
	<!-- Start of the table -->
	<!-- Data Table was used to format the table and add the sort & search features -->
	<table id = "table_id">
		<thead>
			<tr>
				<th>Rank</th>
				<th>Level</th>
				<th>Grade</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<!-- Loop for each job level in the database -->
			<%@jobLevels.each do |jobLevel|%>
				<tr>
					<td><%= jobLevel.rank%></td>	<!-- Shows the rank/title of the job level -->
					<td><%= jobLevel.level%></td>	<!-- level of the job level -->
					<td><%= jobLevel.grade%></td>	<!-- grade of the job level -->
					<!-- Edit button -->
					<!-- Pressing the button will cause a modal/pop-up (edit modal) to appear -->
					<!-- Passes the job level parameters with the attribute "remote" to edit.html.erb which renders the form -->
					<td>
						<div class = "col-md-1"></div>
						<%= link_to 'Edit', edit_job_level_path(jobLevel), class: "btn btn-xs btn-warning col-md-4", data: {toggle: 'modal', target: '#edit'}%>
						<div class = "col-md-1"></div>

						<%= button_to 'Delete', job_level_path(jobLevel), method: :delete, onclick: "return confirm('Are you sure you would like to delete Job Level #{jobLevel.rank} - Level: #{jobLevel.level} Grade: #{jobLevel.grade}')", class: "btn btn-xs btn-danger col-md-4"%>
					<!-- Delete button -->
					<!-- Pressing the button will cause the system to ask the user for confirmation -->
					<!-- Once the intent ot delete the job level is confirmed, the job level will be deleted from the database -->
											
					</td>
				</tr>
			<%end%>

		</tbody>
	</table>
</div>

<!-- Modal for the addition of new job level -->
<div class = "modal fade" id = "add" role = "dialog">
	<div class = "modal-dialog">
		<div class = "modal-content"></div>
	</div>
</div>

<!-- Modal for the editing of job level -->
<div class = "modal fade" id = "edit" role = "dialog">
	<div class = "modal-dialog">
		<div class = "modal-content"></div>
	</div>
</div>

<!-- JavaScript for the data table -->
<!-- The table is initially sorted using the 2nd column, level, in ascending order -->
<script>
  $(function(){
    $("#table_id").dataTable({
    	"aaSorting": [[ 2, "asc" ], [3, "asc"]]
    });
  })
</script>