<%= render 'navbar'%>
<%= render 'noticeAlert'%>

<div class = "container">
	<%= button_tag 'Add', class: "btn btn-primary pull-right", data: {toggle: 'modal', target: "#add"}%>
	<table id = "table_id">
		<thead>
			<tr>
				<th>Rank</th>
				<th>Level</th>
				<th>Grade</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%@jobLevels.each do |jobLevel|%>
				<tr>
					<td><%= jobLevel.rank%></td>
					<td><%= jobLevel.level%></td>
					<td><%= jobLevel.grade%></td>
					<td><%= button_tag 'Edit', data: {toggle: 'modal', target: "#edit", remote: edit_job_level_path(jobLevel) << "#modal-edit-fields"}, class: "btn btn-warning"%></td>
					<td><%= button_to 'Delete', job_level_path(jobLevel), method: :delete, onclick: "return confirm('Are you sure you would like to delete Job Level #{jobLevel.rank} - Level: #{jobLevel.level} Grade: #{jobLevel.grade}')", class: "btn btn-danger"%></td>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>

<div class = "modal fade" id = "add" role = "dialog">
	<div class = "modal-dialog">
		<div class = "modal-content">

			<div class = "modal-header">
				<h4>Add Job Level</h4>
			</div>
			<%= render 'form'%>

		</div>
	</div>
</div>

<div class = "modal fade" id = "edit" role = "dialog">
	<div class = "modal-dialog">
		<div class = "modal-content">	
			
			
		</div>
	</div>
</div>

<script>
  $(function(){
    $("#table_id").dataTable({
    	"aaSorting": [[ 1, "asc" ]]
    });
  })
</script>