<!DOCTYPE html>
<html>
<head>
  <title>IEMS</title>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'navbar'%>
	<%= yield %>
	<%= javascript_include_tag 'jquery-1.11.2.min', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
</body>
</html>
